In [3]:
#Write a Python program to convert kilometers to miles.
# 1 km = 0.621 miles
a =100
print(f"{a} km = {0.621*a} miles")

100 km = 62.1 miles

In [4]:
#Write a Python program to convert Celsius to Fahrenheit
c=100
f=(c*9/5)+32
print(f"{c} celicus = {f} fahrenheit")

100 celicus = 212.0 fahrenheit

In [10]:
#Write a Python program to display calendar of given year
import calendar
calendar.calendar(2000)

'                                  2000\n\n      January                   February                   March\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2          1  2  3  4  5  6             1  2  3  4  5\n 3  4  5  6  7  8  9       7  8  9 10 11 12 13       6  7  8  9 10 11 12\n10 11 12 13 14 15 16      14 15 16 17 18 19 20      13 14 15 16 17 18 19\n17 18 19 20 21 22 23      21 22 23 24 25 26 27      20 21 22 23 24 25 26\n24 25 26 27 28 29 30      28 29                     27 28 29 30 31\n31\n\n       April                      May                       June\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2       1  2  3  4  5  6  7                1  2  3  4\n 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11\n10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18\n17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25\n24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30\n\n        July                     August                  September\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2          1  2  3  4  5  6                   1  2  3\n 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10\n10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17\n17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24\n24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30\n31\n\n      October                   November                  December\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                   1             1  2  3  4  5                   1  2  3\n 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10\n 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17\n16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24\n23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31\n30 31\n'

In [14]:
#Write a Python program to solve quadratic equation
#standard quadratic equation a*x**2+b*x+c=0
a=8
b=2
c=6
sol1= (-b+(b**2-4*a*c)**(1/2))/(2*a)
sol2= (-b-(b**2-4*a*c)**(1/2))/(2*a)
print(f"solution for quadratic equation are {sol1} and {sol2}")

solution for quadratic equation are (-0.12499999999999994+0.8569568250501305j) and (-0.12500000000000006-0.8569568250501305j)

In [15]:
#Write a Python program to swap two variables without temp variable
a=1
b=2
a=a+b
b=a-b
a=a-b
print(a,b)

2 1